@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #000 !important;
    height: 100vh;
    overflow: auto;


}


h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: 'poppins', sans-serif;
}

span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #FFF !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-text {
    color: #fff;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

.main {
    gap: 30px;
}

.side-menu {
    background-color: #0A1D32;
    border-radius: 20px;
    height: auto;
    padding: 15px;
    width: 18%;
}


.logo {
    background-color: #000;
    width: 100%;
    padding: 5%;
    border-radius: 20px;
}

.agent-details {
    color: #fff;
    padding: 13px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-bottom: #2F3F51 1px solid;
}

.status {
    margin: 20px 0px;
    Padding: 5px;
    background: rgba(255, 255, 255, 0.15);

}


.status span {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.status .btn {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 6px !important;

}


.status .btn:hover {
    background: #090;
}

.status .btn:focus {
    background: #090;
}

.status .btn:active {
    background: #090 !important;
}


/*tools button group*/


.tools {
    padding: 20px 0px;
    border-bottom: #2F3F51 1px solid;
    border-top: #2F3F51 1px solid;
}

.tools h3 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.tools-btn {
    padding: 10px 5px !important;
}


.tools-btn span {

    color: rgba(255, 255, 255, 0.50);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button.btn.tools-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-dial {
    margin: 20px 0px;
    gap: 10px;
}

.phone-dial label {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.phone-dial {
    padding: 5px 10px !important;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}

.phone-dial input#flexSwitchCheckChecked {
    padding: 0px !important;
    width: 50px;
    height: 30px;
    margin-top: 0px;

}

.phone-dial .form-check-input {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-dial .form-check-input:active {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-dial .form-check-input:focus {
    box-shadow: 0 0 0 0;
    border: solid 1px #fff !important;
}

.phone-dial .form-check-input:checked {
    background-color: #34C759 !important;
    border: solid 1px #34c759 !important;
}

.callback {
    margin: 20px 0px;
}

.callback span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px !important;
    text-align: center;
}

.content {
    gap: 30px;
}

/*queue bar*/
.queue-bar {
    padding: 14px 20px !important;
    border-radius: 10px;
    background: #0C161E;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    height: auto;
    border-top: solid #090 2px;


}

.customer-details span {
    margin-bottom: 5px;
}

.customer-details span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.customer-details h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/*Customer info starts*/

.customer-info {
    padding: 0px 15px 0px 0px !important;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.47);


}


.title-bar {
    padding: 15px !important;
    border-radius: 20px 20px 0px 0px;
    background-color: #404F60;
}

.title-bar span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.window-control .btn {
    padding: 0px;
}

.window-control .btn:focus {
    border: none;
}

.form {
    padding: 30px;
    gap: 20px;
    background-color: #26384A;
    border-radius: 0px 0px 20px 20px;
}

.form-row {
    gap: 20px;
}

.form label {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

input {
    color: #fff;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.form input {
    border-radius: 5px;
    background: #0A1D32;
    border: none;
}

.form-select {
    background-color: #0A1D32 !important;
    border-style: none !important;
}

textarea {
    background-color: #0A1D32 !important;
    border-style: none !important;
}

/*scripts starts*/

.scripts {
    padding: 0px 0px 0px 15px !important;
    margin: 0px !important;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.47);


}

.scripts-pane {
    
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
    background-color:#26384A;
}


#gridCanvas {
    background: #0A1D32;
    display:block;
    margin:30px;
    
}


/*footer starts*/

footer {
    padding: 20px;
    background: #0C161E;
    margin-top: 20px;
}

footer span {
    color: #DEDEDE;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/*large sized screen*/

@media (min-width:1024px) {
    .side-menu {
        padding: 10px !important;
    }
}


/* medium sized screen */

@media (min-width:768px) and (max-width:1024px) {

    .logo {
        padding: 20px;
    }


    .agent-details {
        text-align: center;
    }

    .status {
        flex-wrap: wrap;
    }


    .status .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        min-width: 100%;
        padding: 10px;

    }

    .tools-btn div {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .btn-arrow {
        display: none;
    }

    .tools h3 {
        text-align: center;
    }

    .phone-dial {

        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px !important;
    }

    .phone-dial input#flexSwitchCheckChecked {
        margin: 0px;
        width: 100%;
    }

    .phone-dial label {
        width: 100% !important;
        text-align: center;
    }

}


.scripts-pane canvas {
    background-color: #0A1D32;

}

.scripts-pane .col {

    height: 50px;
    border: solid 1px rgba(255, 255, 255, 0.18);
}