.toggle-checkbox:checked {

    right: 0;
    border-color: #68D391;
}


.toggle-checkbox:checked+.toggle-label {

    background-color: #68D391;
}

#scriptPane{
    width: 100%;
    /* Adjust the width as needed */
    height: 100%;
    /* Adjust the height as needed */
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    /* Adjust the size of each grid square */
    }