@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-color: #000 !important;
    height: 100vh;
    overflow: auto;


}


h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    font-family: 'poppins', sans-serif;
}

span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #FFF !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo-text {
    color: #fff;
}

header {
    padding: 20px;
}

main {
    padding: 20px;
}

.main {
    gap: 30px;
}

.side-menu {
    background-color: #0A1D32;
    ;
    padding: 20px;
    width: 240px;
    border-radius: 20px;
    height: 100%;
}

.logo {
    background-color: #000;
    padding: 7px 69px;
    border-radius: 20px;
}

.agent-details {
    color: #fff;
    padding: 13px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-bottom: #2F3F51 1px solid;
}

.status {
    margin: 20px 0px;
    Padding: 5px;
    background: rgba(255, 255, 255, 0.15);

}


.status span {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.status .btn {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 6px !important;
}

.status .btn:hover {
    background: #090;
}

.status .btn:focus {
    background: #090;
}

.status .btn:active {
    background: #090 !important;
}


/*tools button group*/


.tools {
    padding: 20px 0px;
    border-bottom: #2F3F51 1px solid;
    border-top: #2F3F51 1px solid;
}

.tools h3 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.tools-btn {
    padding: 10px 5px !important;
}

.tools-btn span {

    color: rgba(255, 255, 255, 0.50);
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button.btn.tools-btn:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-dial {
    margin: 20px 0px;
}

.phone-dial label {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.phone-dial {
    padding: 5px 10px !important;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
}

.phone-dial input#flexSwitchCheckChecked {
    padding: 0px !important;
    width: 50px;
    height: 30px;
    margin-top: 0px;

}

.phone-dial .form-check-input {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-dial .form-check-input:active {
    background-color: rgba(255, 255, 255, 0.15);
}

.phone-dial .form-check-input:focus {
    box-shadow: 0 0 0 0;
    border: solid 1px #fff !important;
}

.phone-dial .form-check-input:checked {
    background-color: #34C759 !important;
    border: solid 1px #34c759 !important;
}

.callback {
    margin: 20px 0px;
}

.callback span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px !important;
}

.content {
    gap: 30px;
}

/*queue bar*/
.queue-bar {
    padding: 14px 20px !important;
    border-radius: 10px;
    background: #0C161E;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.10);
    height: auto;
    border-top: solid #090 2px;


}

.customer-details span {
    margin-bottom: 5px;
}

.customer-details span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.customer-details h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/*Customer info starts*/

.customer-info {
    padding: 0px !important;
    border-radius: 20px;
    background: #26384A;
    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.47);

}

.title-bar {
    padding: 20px !important;
    border-radius: 20px 20px 0px 0px;
    background: rgba(255, 255, 255, 0.12);

}

.title-bar span {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.window-control .btn {
    padding: 0px;
}

.window-control .btn:focus {
    border: none;
}

.form {
    padding: 20px;
}

.form label {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.form-control {
    border-radius: 5px;
    background: #0A1D32 !important;
    border: none !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.form-control:focus {
    background: #fff !important;
}


input.form-control::placeholder {
    color: #DEDEDE;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}


/*footer starts*/

footer {
    padding: 20px;
    background: #0C161E;
    margin-top: 20px;
}

footer span {
    color: #DEDEDE;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}